*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Urbanist', 'Fira Sans', sans-serif;
}

.content {
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: #282c34;
	
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.camera {
  top: 0;
  left: 0;
}

.button {
  font: bold 14px;
  text-decoration: none;
  background-color: rgba(77, 109, 134, 0.5);
  background-position: 0%;
  color: white;
  padding: 4px 12px 4px 12px;
}

.App {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #282c34;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
